{% extends "users.html.twig" %}

{% block title %} Nouvelles annonces
				
{% endblock %}

{% block body %}
	<div class="grix xs4 container">
		<div class="col-xs4">
			{{form(form)}}
		</div>
		
	</div>

{% endblock %}
