% extends "base.html.twig" %}
{% block title %}
Error 503
{% endblock %}
{% block body %}
<p>oups un petit soucis de server :)!!!!!!</p>
<img src="{{asset('logo/error503.jpg')}}" alt="error503">
{% endblock %}