{% extends "base.html.twig" %}
{% block title %}
Error 401
{% endblock %}
{% block body %}
<div class="container">
<p>Page privée.Vous vous devez vous identifier :)!!!!!!</p>
<img src="{{asset('logo/error401.jpg')}}" alt="error401">
</div>
{% endblock %}